@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "haas-text";
  src: url("fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.splash-content {
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missing {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.success-group {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-icon {
  font-size: 150px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.success-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.button {
  width: 100%;
  color: white;
  border-radius: 60px;
  margin-bottom: 24px
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio-buttons> :first-child {
  display: flex;
}

.primary {
  background-color: coral;
  color: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.primary:hover {
  opacity: 0.8;
}

._textboxColor_69uub_1,
._dropdown_l9ibg_1 {
  @apply border-slate-200 border border-solid rounded focus-within:border-indigo-500;
}

._textboxColor_69uub_1>*,
._dropdown_l9ibg_1>* {
  border: none !important;
}

._textboxColor_69uub_1>._divider_69uub_109 {
  height: 16px;
  top: 6px;
  @apply bg-slate-300;
}

._textboxColor_69uub_1>._hexColorInput_69uub_80 {
  border-left: 1px solid !important;
  margin-left: 32px;
  padding-left: 4px;
  height: 16px;
  margin-top: 6px;
  width: 64px;
  max-width: 64px;
  @apply !border-slate-300;
}

._textboxColor_69uub_1>._color_69uub_13 {
  @apply rounded scale-90;
}

._chevronIcon_l9ibg_63 {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

._dropdown_l9ibg_1::before {
  content: 'xxx';
}

@keyframes blinkAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}