@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "haas-text";
  src: url("fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.splash-content {
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missing {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.success-group {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-icon {
  font-size: 150px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.success-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.button {
  width: 100%;
  color: white;
  border-radius: 60px;
  margin-bottom: 24px
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio-buttons> :first-child {
  display: flex;
}

.primary {
  background-color: coral;
  color: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.primary:hover {
  opacity: 0.8;
}

._textboxColor_69uub_1,
._dropdown_l9ibg_1 {
  height: 34.5px;
  @apply border-slate-200 border border-solid rounded hover:border-slate-500;
}

._textboxColor_69uub_1:focus-within,
._dropdown_l9ibg_1:focus-within {
  border-color: rgb(99 102 241 / var(--tw-border-opacity)) !important;
}

._textboxColor_69uub_1>*,
._dropdown_l9ibg_1>* {
  border: none !important;
}

._textboxColor_69uub_1>* {
  transform: translateY(2px);
}

._textboxColor_69uub_1>._color_69uub_13 {
  top: 8px;
}

._textboxColor_69uub_1>._divider_69uub_109 {
  height: 16px;
  top: 6px;
  @apply bg-slate-300;
}

._textboxColor_69uub_1>._hexColorInput_69uub_80 {
  border-left: 1px solid !important;
  margin-left: 32px;
  padding-left: 4px;
  height: 16px;
  margin-top: 6px;
  width: 64px;
  max-width: 64px;
  @apply !border-slate-300;
}

._textboxColor_69uub_1>._color_69uub_13 {
  @apply rounded scale-90;
}

._chevronIcon_l9ibg_63 {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

._dropdown_l9ibg_1::before {
  content: '';
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  width: 14px;
  height: 16px;
  padding-right: 1.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid rgb(203 213 225 / var(--tw-border-opacity));
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.60731 1.44064C9.77816 1.26979 10.0552 1.26979 10.226 1.44064L12.5594 3.77397C12.7302 3.94483 12.7302 4.22184 12.5594 4.39269L4.39269 12.5594C4.22184 12.7302 3.94483 12.7302 3.77397 12.5594L1.44064 10.226C1.26979 10.0552 1.26979 9.77816 1.44064 9.60731L2.89874 8.14921C2.89866 8.14929 2.89882 8.14913 2.89874 8.14921C2.89882 8.14913 2.89913 8.14882 2.89921 8.14874L9.60731 1.44064ZM3.20833 9.07705L3.77397 9.64269C3.94483 9.81355 4.22184 9.81355 4.39269 9.64269C4.56355 9.47184 4.56355 9.19483 4.39269 9.02397L3.82705 8.45833L4.95833 7.32705L5.52397 7.89269C5.69483 8.06355 5.97184 8.06355 6.14269 7.89269C6.31355 7.72184 6.31355 7.44483 6.14269 7.27397L5.57705 6.70833L6.70833 5.57705L7.27397 6.14269C7.44483 6.31355 7.72184 6.31355 7.89269 6.14269C8.06355 5.97184 8.06355 5.69483 7.89269 5.52397L7.32705 4.95833L8.45833 3.82705L9.02397 4.39269C9.19483 4.56355 9.47184 4.56355 9.64269 4.39269C9.81355 4.22184 9.81355 3.94483 9.64269 3.77397L9.07705 3.20833L9.91667 2.36872L11.6313 4.08333L4.08333 11.6313L2.36872 9.91667L3.20833 9.07705Z" fill="gray"/></svg>');
}

@keyframes blinkAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}