input[type=checkbox]::before{
    content: 'x';
    position: relative;
    padding: 4px;
    font-size: 0;
    color: transparent;
    border: 1px solid #BFC1C7;
    border-radius: 3px;
}
input[type=checkbox]:checked::before{
    background-color: #5C6CFF;
    border-color: #5C6CFF;
}